---
import { getEntry, render, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import { TeamMemberCollapsible } from "./TeamMemberCollapsible";

interface Props {
  trust: CollectionEntry<"team"> | CollectionEntry<"trust">;
  category: "team" | "trust";
}

const { trust, category } = Astro.props;

const entry = await getEntry(category, trust.id);
if (!entry) throw new Error("Could not find team member");

const { Content } = await render(entry);
---

<TeamMemberCollapsible
  name={trust.data.name}
  position={trust.data.position}
  excerpt={trust.data.excerpt}
  client:visible
>
  <Image
    slot="image"
    src={trust.data.image}
    width="192"
    height="192"
    alt=`${trust.data.name} profile image`
    class="mx-auto size-48 rounded-full object-cover"
  />

  {
    trust.id === "leigh-keown" && (
      <a slot="contact" href="mailto:hello@vsctrust.org.nz" class="mx-auto">
        (✉)
      </a>
    )
  }

  <Content />
</TeamMemberCollapsible>
