---
import { Image, getImage } from "astro:assets";

const images = import.meta.glob("../../assets/img/programmes/*");

const name = {
  dosomegood: "Do Some Good",
  take10: "Take 10",
  "take10-auckland": "Take 10 Auckland",
  "take10-arvos": "Take 10 Arvo's",
};

interface Props {
  programme: "dosomegood" | "take10" | "take10-auckland";
}

const { programme } = Astro.props;

// Generate card background images
const background = await getImage({
  src: images[
    `../../assets/img/programmes/${programme}.jpg`
  ]() as unknown as string,
  format: "webp",
  width: 600,
});

const backgroundHover = await getImage({
  src: images[
    `../../assets/img/programmes/${programme}-hover.jpg`
  ]() as unknown as string,
  format: "webp",
  width: 600,
});
---

<a
  href={`/${programme}/`}
  class="shadow-border programme group flex flex-col rounded-3xl transition-all duration-500 hover:no-underline"
>
  <div class="relative min-h-[192px] lg:min-h-[256px]">
    <Image
      src={import(`../../assets/img/logo/${programme}.png`)}
      width="256"
      height="256"
      alt={`${name[programme]} logo`}
      class="absolute right-1/2 top-1/2 z-10 size-40 -translate-y-1/2 translate-x-1/2 self-center transition-all duration-500 group-hover:right-5 group-hover:top-5 group-hover:size-16 group-hover:translate-x-0 group-hover:translate-y-0"
      transition:name={`programme-image-${programme}`}
    />
  </div>
  <div
    class="scribble z-10 grow p-4 text-white underline-offset-0 transition-opacity duration-500 group-hover:opacity-0"
  >
    <slot />
  </div>
</a>

<style
  define:vars={{
    background: `url('${background.src}')`,
    backgroundHover: `url('${backgroundHover.src}')`,
  }}
>
  .programme {
    position: relative;
    overflow: hidden;
  }

  /* Base image */
  .programme::before,
  .programme::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition:
      opacity 0.5s ease,
      background-position 0.5s ease;
  }

  .programme::before {
    background-image: var(--background);
    opacity: 1;
  }

  /* Hover image */
  .programme::after {
    background-image: var(--backgroundHover);
    opacity: 0;
  }

  .programme:hover::after {
    opacity: 1;
    background-position: right;
  }

  .programme:hover::before {
    opacity: 0;
  }

  .programme:hover::after {
    background-position: right;
  }

  /* Preload hover background image */
  .programme::after {
    will-change: opacity;
  }

  :root {
    --svg: url("data:image/svg+xml,%3Csvg fill='rgba(0,0,0,0.75)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 453.43 244.86'%3E%3Cpath d='M452.45,103.13c2.89-2.61-1.26-6.65-4.15-4.27-6.92,5.68-13.84,11.35-20.76,17.03,.14-.27,.23-.56,.26-.84,.87-.76,1.73-1.53,2.6-2.29,1.65-1.46,.65-3.93-.98-4.76,15.78-12.38,4.15-5.22,19.4-18.26,2.47-2.11-.88-6.5-3.49-4.52-8.83,6.71-2.75,1.78-11.58,8.49,.57-.47,1.15-.94,1.72-1.41,2.35-1.92-.24-5.53-2.8-4.82-.47-.35-1.02-.58-1.62-.61,.99-2.79-2.51-5.9-4.72-3.27-.04,.05-.08,.09-.12,.14-.79-1.21-2.54-1.97-4.09-1.18-.43-.41-.96-.7-1.52-.8,.09-.09,.17-.17,.26-.26,.77-.77,1-1.61,.87-2.36,1.85-1.87,3.69-3.74,5.53-5.61,1.61-1.63,.65-4.19-1.03-4.99,.34-.37,.69-.75,1.03-1.12,2.11-2.29-.78-6.58-3.49-4.52-.3,.23-.61,.46-.91,.7,3.16-2.58,6.32-5.15,9.48-7.72,1.73-1.41,.69-3.89-.98-4.71,3.04-2.99,6.95-6.78,13.03-12.56,2.79-2.66-1.36-6.88-4.16-4.27-4.87,4.53-6.88,6.43-7.98,7.51-.4-.82-1.19-1.47-2.1-1.67,.85-.88,1.71-1.76,2.56-2.64,1.35-1.39,.73-3.54-.56-4.53,.47-.41,.93-.82,1.39-1.22,1.71-1.5,.67-3.96-1.04-4.72,.49-.36,.97-.71,1.46-1.07,.86-.63,1.23-1.49,1.25-2.35,5.58-4.15,2.34-2.68,7.92-6.83,2.93-2.18,.12-7.16-2.91-4.97-8.8,6.38-14.03,10.47-20.24,15.19-.66-.55-1.53-.83-2.42-.66l12.84-9.47c2.92-2.15,.27-7.03-2.91-4.97-.8,.52-1.59,1.04-2.39,1.56-.73-.28-1.54-.25-2.3,.34-2.01,1.57-4.02,3.14-6.02,4.71,1.32-2.54-2.24-5.5-4.83-3.39-4.6,3.75-9.2,7.49-13.8,11.24,.09-.38,.11-.77,.04-1.16,1.21-1.24,2.43-2.48,3.64-3.73,2.76-2.83-1.25-6.59-4.15-4.27l-8.96,7.17c1.56-2.81-1.93-5.94-4.6-3.63-2.25,1.95-4.5,3.9-6.75,5.84-.32-.81-.97-1.45-1.76-1.72l2.83-3.12c2.19-2.41-.75-6.83-3.56-4.75-7.17,5.31-14.34,10.62-21.5,15.93-.4-.47-.91-.82-1.48-.99,4.71-3.32,9.41-6.64,14.12-9.95,3.17-2.24,.47-6.78-2.97-5.22-2.57,1.17-5.14,2.34-7.71,3.51-.52-1.33-2.08-2.3-3.61-1.85,.98-1.33,.72-2.82-.12-3.79,.12-.2,.24-.4,.36-.6,1.72-2.92-2.33-6.2-4.61-3.66-5.41,6.01-10.82,12.03-16.22,18.04-.56-1.95-2.89-3.25-4.77-1.35-3.25,3.29-6.51,6.57-9.76,9.86,.52-.93,1.05-1.86,1.57-2.78,.91-1.62,.05-3.41-1.27-4.2,.54-2.27-1.89-4.98-4.15-3.29-.25,.19-.5,.38-.76,.57-.63-1.81-2.98-3.03-4.7-1.23-1.67,1.75-3.35,3.5-5.02,5.26-.25-.28-.53-.52-.85-.69,6.2-6.51,12.35-13.07,18.43-19.7,2.23-2.43-.68-6.69-3.56-4.74-4.35,2.94-8.67,5.93-12.96,8.94-.74-1.23-2.31-1.94-3.76-1.08,6.27-6.65-1.91,2.07,4.36-4.58,2.55-2.7-1.42-6.69-4.07-4.07-5.97,5.9-10.84,10.62-15.22,14.82-.56-1.93-3.07-3.33-4.93-1.48l-7.85,7.83c-.32-1.07-1.21-1.92-2.28-2.16,3.41-2.63,6.81-5.26,10.22-7.89,2.97-2.3,.14-7.51-2.97-5.22-1.14,.85-2.29,1.69-3.43,2.54-.36-1.52-1.73-2.78-3.46-2.09-.75,.3-1.49,.6-2.24,.9-1.02,.41-1.59,1.2-1.81,2.06-8.89,7.15-17.78,14.31-26.67,21.46-.32-.08-.66-.1-1-.03,5.03-4.32,10.06-8.65,15.09-12.97,1.41-1.21,.99-3.16-.12-4.31,1.52-2.58-2.07-5.78-4.56-3.43-2.44,2.31-4.88,4.61-7.32,6.92-.57,.07-1.15,.33-1.68,.87-2.1,2.12-4.19,4.24-6.29,6.37-.03-.06-.07-.1-.1-.16,1.94-1.94,3.89-3.88,5.83-5.82,2.64-2.63-1.37-6.61-4.07-4.07-3.71,3.48-7.41,6.96-11.12,10.44-.33-.21-.69-.35-1.1-.39-.74-.32-1.62-.32-2.5,.2-1.33,.8-2.65,1.61-3.98,2.42-.18-.23-.41-.43-.65-.61,6.44-7.41,12.69-15,18.69-22.79,0,0,.02-.02,.02-.02,0,0,0,0,0,0,.15-.2,.3-.38,.45-.58,2.08-2.71-2.22-5.57-4.52-3.49-8.57,7.75-13.97,12.75-19.01,17.44-5.34,4.36-7.58,5.55-10.69,7.51,2.32-2.82,4.96-5.9,10.93-11.89,2.27-2.27-.72-6.37-3.49-4.52-3.55,3.28-6.41,6.01-8.77,8.33-.14-.42-.37-.8-.67-1.13,1-.93,2-1.85,3-2.78,2.51-2.36-.71-6.42-3.56-4.75-7.6,4.47-15.14,9.03-22.66,13.64,.47-.55,.9-1.03,1.24-1.43,1.22-1.43,8.56-7.77,10.22-9.69,2.49-2.74-1.35-6.62-4.07-4.07-1.09,1.02-2.17,2.03-3.26,3.05-.92-.94-2.35-1.38-3.49-.52-3.39,2.56-6.74,5.16-10.09,7.77,0-.02,0-.04,0-.06,1.54-1.28,3.08-2.55,4.63-3.83,2.66-2.2-.72-5.9-3.49-4.52-5.34,2.66-10.61,5.43-15.83,8.3,.8-.68,1.6-1.36,2.4-2.04,2.56-2.18-.85-6.74-3.56-4.75l-13.61,10.02c-.62,.03-1.25,.27-1.81,.83-.66,.65-1.33,1.31-1.99,1.96l-4.81,3.54c0-.82-.27-1.63-.74-2.25,.49-.64,.58-1.42,.4-2.16l5.23-3.7c1.36-.96,1.58-2.48,1.13-3.7,2.17-2.14-1.05-6.18-3.65-4.35-1.52,1.06-3.04,2.13-4.56,3.19-.27-1.87-2.29-3.65-4.08-2.66-.69-1.39-2.44-2.34-4.07-1.39-.96,.56-1.91,1.15-2.86,1.72,.75-.68,1.5-1.35,2.25-2.03,2.91-2.62-1.24-6.59-4.15-4.27-1.51,1.2-3.01,2.39-4.51,3.59-.8-1.39-2.49-2.27-3.99-1.17-5.78,4.24-11.55,8.48-17.33,12.72l2.83-2.56c.37-.34,.6-.73,.74-1.13,2.68-2.45,5.36-4.9,8.04-7.35,2.85-2.6-1.31-6.8-4.15-4.27-1.98,1.75-3.96,3.51-5.93,5.26-.98-1.27-2.96-1.95-4.57-.66-4.15,3.31-8.31,6.63-12.46,9.94-.12-.24-.27-.45-.44-.66,2.34-3.06,4.68-6.12,7.02-9.18,1.87-2.44-.68-7.01-3.56-4.75-2.63,2.07-5.27,4.15-7.9,6.22,.95-1.94-.8-4.4-2.86-4.31,1.94-1.74,3.89-3.48,5.84-5.22,2.51-2.25-.8-6.67-3.56-4.75l-22.18,15.44c3.36-3.79,6.71-7.58,10.07-11.37,2.14-2.42-.74-6.85-3.56-4.75-4.86,3.62-9.72,7.24-14.59,10.85-1.01-1.24-2.85-1.78-4.29-.31l-12.4,12.76c-2.3,2.37,.8,6.8,3.56,4.75l7.91-5.88c-2.52,2.84-5.03,5.68-7.55,8.52-2.16,2.44,.68,6.75,3.56,4.75,2.64-1.84,5.29-3.68,7.93-5.52-.02,.87,.38,1.73,1.01,2.35-5.39,5.09-8.52,7.6-17.22,16.44-1.27,1.29-1.04,2.79-.15,3.76-1.49,1.4-2.98,2.79-4.47,4.19-2.44,2.28,.89,6.85,3.56,4.75,1.21-.95,2.41-1.9,3.62-2.85,.29,1.99,2.54,3.84,4.42,2.4,3.61-2.78,7.22-5.57,10.83-8.35,.25,.62,.7,1.15,1.25,1.51-1.02,.97-2.03,1.93-3.05,2.9-1.53,1.46-.79,3.62,.68,4.52-1.74,1.54-3.48,3.09-5.22,4.63-1.78,1.58-.61,4.3,1.19,5.04,.15,.27,.36,.51,.59,.72-4.94,3.82-9.88,7.64-14.82,11.46-2.59,2.01,.79,6.31,3.49,4.52,6.38-4.23,12.75-8.47,19.13-12.7-.72,.65-1.45,1.31-2.17,1.96-.66,.59-.89,1.34-.85,2.09-4.58,4.04-9.16,8.09-13.75,12.13-.56,.49-.81,1.1-.86,1.72-1.36,1.15-2.71,2.31-4.07,3.46-2.48,2.11,.89,6.51,3.49,4.52,2.38-1.82,4.76-3.64,7.14-5.47,.56,.07,1.18-.08,1.82-.53,2.19-1.55,4.38-3.1,6.57-4.65-1.21,1.2-2.41,2.42-3.61,3.63-6.51,5.06-13.03,10.12-19.54,15.19-1.99,1.54-1.35,4.38,.19,5.41-.02,.02-.04,.04-.06,.06-2.15,2.42,.73,6.83,3.56,4.75,6.67-4.91,13.35-9.83,20.02-14.74-.09,.15-.18,.3-.27,.45-.96,1.57-.11,3.32,1.19,4.14-1.93,2.09-3.85,4.19-5.75,6.31-8.67,7.6-17.35,15.2-26.02,22.8-2.84,2.49,1.23,6.34,4.07,4.07,3.25-2.6,6.51-5.19,9.76-7.79,.18,.15,.37,.28,.57,.38-16.1,12.99-4.23,5.48-19.8,19.16-2.52,2.22,.9,6.82,3.56,4.74,9.01-7.04,2.8-1.86,11.81-8.91-.58,.49-1.17,.98-1.75,1.48-2.61,2.2,.77,6.53,3.56,4.75,2.2-1.41,4.39-2.83,6.58-4.26,.43,1.02,1.45,1.8,2.6,1.86-.13,.37-.18,.74-.16,1.1-.86,.71-1.71,1.43-2.57,2.14-2.96,2.47,1.22,6.63,4.15,4.27,.04-.03,.08-.07,.13-.1,.2,.51,.51,.95,.89,1.28-.09,.09-.18,.19-.28,.28-1.67,1.71-.86,3.75,.68,4.59-.1,.14-.2,.29-.3,.44-.69,.51-1.3,1.31-1.79,2.47-.04,.1-.08,.21-.11,.32-.51,.74-1.01,1.49-1.52,2.23-.31,.45-.45,.91-.48,1.35-1.01,1.12-2.01,2.25-3.02,3.37-2.16,2.41,.8,6.91,3.56,4.74,.31-.24,.62-.49,.93-.73-3.22,2.7-6.45,5.41-9.67,8.11-1.88,1.58-.55,4.44,1.35,5.1-.18,.27-.29,.56-.37,.84-1.36,1.27-2.84,2.64-4.5,4.18-2.56,2.37,.84,6.04,3.53,4.47,.38,.93,1.23,1.68,2.22,1.91-.87,.92-1.74,1.84-2.61,2.77-1.38,1.46-.74,3.71,.57,4.75-.47,.43-.95,.86-1.42,1.28-1.75,1.58-.69,4.16,1.06,4.95-.5,.37-.99,.75-1.49,1.12-.88,.66-1.25,1.56-1.28,2.46-5.69,4.36-2.39,2.81-8.08,7.17-2.99,2.29-.12,7.52,2.97,5.22,10.46-7.8,15.97-12.34,23.88-18.46-.57,.48-1.14,.96-1.7,1.43-.96,.81-1.04,1.97-.63,2.97l-11.53,8.75c-2.98,2.26-.28,7.37,2.97,5.22,6.65-4.42,13.27-8.9,19.86-13.41,1,.57,2.33,.64,3.46-.26,4.51-3.57,9.02-7.14,13.53-10.71-.09,.36-.11,.74-.04,1.11-1.19,1.18-2.38,2.37-3.57,3.55-2.71,2.7,1.23,6.28,4.07,4.07l4.62-3.59c1.03,1,2.71,1.34,4.09,.09l.3-.27c.92,1.19,2.74,1.7,4.28,.4,1.26-1.06,2.53-2.13,3.79-3.19-.91,1.19-1.84,2.38-2.74,3.58-2.27,3.01,1.28,6.97,4.15,4.27,.36-.34,.71-.67,1.07-1.01,.79,.52,1.79,.62,2.79-.1,3.93-2.83,7.87-5.67,11.8-8.5,.31,.38,.7,.67,1.14,.83-1.42,.97-2.84,1.94-4.26,2.92-3.11,2.13-.46,6.46,2.91,4.97,3.89-1.72,7.77-3.44,11.66-5.16l-8.56,8.6c-2.74,2.75,1.32,6.81,4.16,4.27,1.11-.99,2.22-1.98,3.33-2.98,.56,1.9,3.16,3.15,4.82,1.36,4.93-5.33,9.87-10.67,14.8-16,.74,.74,1.8,1.12,2.86,.79,.89,.36,1.96,.25,2.92-.69,3.19-3.13,6.38-6.26,9.56-9.39-.51,.88-1.03,1.77-1.54,2.65-.14,.23-.22,.47-.28,.71-.34,.38-.67,.76-1.01,1.14-2.54,2.88,1.59,7.16,4.15,4.27,2.64-2.97,5.27-5.94,7.91-8.91,.23,.14,.47,.27,.71,.39-4.43,4.62-8.84,9.25-13.19,13.95-2.22,2.39,.8,6.87,3.56,4.75,.26-.2,.51-.4,.77-.6,.15,.46,.41,.88,.73,1.23-1.67,1.75-3.34,3.49-5,5.25-2.18,2.32,.67,6.37,3.49,4.52,6.97-4.58,13.87-9.27,20.71-14.05-3.62,3.93-7.36,8.06-10.75,12.19-2.23,2.71,.84,6.38,3.5,4.77-6.4,6.98,1.95-2.17-4.45,4.8-2.6,2.83,1.45,7.02,4.16,4.27,13.56-13.77,21.57-21.46,30.83-30.54,.43,.59,1.05,1.03,1.77,1.19-3.34,2.51-6.68,5.01-10.02,7.52-2.91,2.19-.14,7.16,2.91,4.97,1.56-1.12,3.11-2.24,4.67-3.36,.63,1.42,2.54,2.32,4.24,1.43-2.25,2.35-4.49,4.71-6.74,7.06-1.91,2.01,0,6.24,2.86,5.05,.76-.32,1.52-.63,2.29-.95,1.32-.55,1.92-1.73,1.96-2.92,4.49-4.7,8.97-9.4,13.46-14.1,.82,1.25,2.42,2.02,3.82,.98,2.02-1.5,4.05-3,6.07-4.5,.59,.55,1.39,.86,2.21,.76-4.07,4.19-8.14,8.39-12.2,12.58-2.68,2.77,1.4,6.95,4.15,4.27,7.25-7.04,14.49-14.09,21.74-21.13,.05,.04,.1,.07,.15,.1-4.04,4.15-8.08,8.3-12.12,12.45-2.69,2.76,1.4,6.94,4.15,4.27,7.18-6.93,14.35-13.86,21.53-20.79,.51-.07,1.02-.27,1.49-.64,2.31-1.82,4.61-3.63,6.92-5.45,.01,.04,.02,.08,.04,.13-12.49,11.26-.73,1.22-14.95,13.99-1.8,1.62-.74,3.83,.99,4.55-5.26,6.36-10.39,12.85-15.35,19.48,0,0-.02,.02-.02,.02,0,0,0,0,0,0-.15,.2-.31,.4-.46,.61-2.12,2.85,2.27,5.85,4.61,3.66,14.8-13.77,20.35-19.28,30.49-28.88-.2,.73-.06,1.46,.32,2.07-2.51,3.14-5.13,6.38-11.65,13.11-2.31,2.39,.73,6.69,3.56,4.74,5.33-5.05,9.13-8.87,12.03-11.89,3.37-1.94,6.73-3.89,10.09-5.85-2.77,2.91-6.15,7.02-4.34,8.26,1.67,2.57,10.05-5.63,13.88-8.81,4.48-3.72,6.92-5.26,8.64-6.34,5-3.15-5.05,8.35-8.22,12.18-1.25,1.51-8.73,8.16-10.43,10.17-2.54,2.88,1.38,6.94,4.15,4.27,1.11-1.07,2.22-2.13,3.32-3.2,.94,.98,2.4,1.45,3.56,.54,3.85-2.99,7.66-6.03,11.45-9.08-1.96,1.67-3.93,3.34-5.89,5.01-2.71,2.31,.74,6.19,3.56,4.75,9.55-4.89,18.91-10.13,28.08-15.68-.42,2.48,2.77,4.96,4.98,2.71,.97-.99,1.94-1.98,2.92-2.96,1.83-1.1,3.66-2.21,5.47-3.33-.82,.64-1.63,1.29-2.45,1.93-2.03,1.6-.27,4.75,1.84,4.99-2.27,1.94-4.54,3.87-6.81,5.81-2.56,2.19,.83,6.71,3.56,4.75,2.83-2.04,5.66-4.08,8.49-6.11,.37,.66,1.01,1.19,1.78,1.46-.29,.27-.58,.54-.87,.81-2.52,2.34,.72,6.45,3.56,4.75,4.41-2.65,8.74-5.42,13.01-8.28,.07,.1,.16,.2,.24,.3,.04,2.08,2.89,3.94,5,2.11,1.94-1.67,3.88-3.34,5.82-5.01,.96,1.21,2.9,1.86,4.48,.63,1.37-1.06,2.74-2.13,4.12-3.19,.78,.51,1.79,.6,2.81-.13,1.05-.75,2.1-1.5,3.15-2.25-1.44,1.83-2.88,3.65-4.31,5.48-1.83,2.33,.67,6.68,3.49,4.52,2.58-1.98,5.16-3.95,7.74-5.93-.93,1.85,.79,4.19,2.8,4.11-1.91,1.66-3.81,3.32-5.72,4.97-2.46,2.14,.78,6.35,3.49,4.52l21.73-14.71c-3.29,3.61-6.58,7.22-9.87,10.83-2.1,2.31,.72,6.52,3.49,4.52,4.77-3.45,9.53-6.89,14.3-10.34,.99,1.18,2.8,1.7,4.2,.29l12.15-12.16c2.25-2.25-.78-6.48-3.49-4.52l-.31,.22c3.38-3.19,6.8-6.43,13.02-12.91,2.71-2.83-1.28-6.69-4.15-4.27-3.44,2.89-6.89,5.78-10.33,8.67,.04-.13,.08-.26,.13-.39,.78-2.4-2.22-4.97-4.32-3.41-1.43,1.06-2.86,2.13-4.29,3.19,.91-.81,1.82-1.62,2.73-2.44,.6-.53,.86-1.18,.88-1.84,5.15-4.69,10.3-9.38,15.44-14.07,2.39-2.17-.88-6.52-3.49-4.52-1.18,.9-2.36,1.81-3.54,2.71-.17-1.13-1.03-2.21-2.08-2.61,.77-1.57-.4-3.61-2-4.18,5.54-4.41,11.09-8.83,16.64-13.24,2.65-2.11-.8-6.63-3.56-4.75-6.24,4.26-12.49,8.53-18.73,12.79-.05-.02-.1-.05-.15-.07-.37-.66-1.06-1.14-1.86-1.37,7.78-6.81,15.57-13.63,23.35-20.44,2.53-2.21-.91-6.83-3.56-4.75-4.83,3.81-9.67,7.62-14.51,11.42,1.59-1.37,3.18-2.73,4.77-4.1,.98-.84,1.04-2.04,.59-3.05,1.79-1.65,3.59-3.31,5.38-4.96,.83-.77,1.06-1.66,.91-2.47,1.99-1.73,3.98-3.47,5.98-5.2,2.36-2.06-.48-6.22-3.03-5.07-.24-.59-.64-1.11-1.14-1.43,.02-.02,.04-.04,.06-.06,2.1-2.31-.71-6.51-3.49-4.52-3.03,2.17-6.07,4.34-9.1,6.51,.69-.78,1.39-1.56,2.08-2.35,8.85-7.98,17.7-15.96,26.55-23.93Zm-40.38-2.6c-1.13,.77-2.26,1.52-3.38,2.29-.7,.43-1.39,.86-2.09,1.29,2.01-2.19,4.03-4.39,6.04-6.58,2.06-1.67,4.12-3.34,6.18-5.01-2.25,2.67-4.5,5.34-6.75,8.01Z'/%3E%3C/svg%3E");
  }

  .scribble {
    border-image-slice: 50 50 50 50 fill;
    border-image-width: 25px 25px 25px 25px;
    border-image-outset: 20px 20px 20px 20px;
    border-image-repeat: repeat repeat;
    border-image-source: var(--svg);
    border-style: solid;
  }
</style>
