---
import { Image } from "astro:assets";

import { cn } from "@/lib/utils";

const name = {
  dosomegood: "Do Some Good",
  take10: "Take 10",
  "take10-arvos": "Take 10 Arvo's",
  "gen-link": "Gen Link",
};

interface Props {
  programme: "dosomegood" | "take10" | "take10-arvos" | "gen-link";
}

const { programme } = Astro.props;
---

<a
  href={`/${programme}/`}
  class={cn(
    `group shadow-border flex flex-col rounded-md transition-all duration-500 hover:no-underline programme-${programme}`,
  )}
>
  <div class="relative min-h-[175px]">
    <Image
      src={import(`../../assets/img/logo/${programme}.png`)}
      width="256"
      height="256"
      alt={`${name[programme]} logo`}
      class="absolute right-1/2 top-1/2 z-10 size-32 -translate-y-1/2 translate-x-1/2 self-center transition-all duration-500 group-hover:right-5 group-hover:top-5 group-hover:size-16 group-hover:translate-x-0 group-hover:translate-y-0"
      transition:name={`programme-image-${programme}`}
    />
  </div>
  <div
    class="z-10 grow bg-black bg-opacity-65 p-3 text-white underline-offset-0 transition-opacity duration-500 group-hover:opacity-0"
  >
    <slot />
  </div>
</a>

<style>
  /* Do Some Good */
  .programme-dosomegood {
    background: url("/img/programmes/dosomegood.jpg") center/cover;
  }

  .programme-dosomegood:hover {
    background: url("/img/programmes/dosomegood-hover.jpg") right/cover;
  }

  /* Preload hover background image */
  .programme-dosomegood::before {
    position: fixed;
    opacity: 0;
    z-index: -1;
    background: url("/img/programmes/take10.jpg");
  }

  /* Take 10 */
  .programme-take10 {
    background: url("/img/programmes/take10.jpg") center/cover;
  }

  .programme-take10:hover {
    background: url("/img/programmes/take10-hover.jpg") right/cover;
  }

  /* Preload hover background image */
  .programme-take10::before {
    position: fixed;
    opacity: 0;
    z-index: -1;
    background: url("/img/programmes/take10-hover.jpg");
  }

  /* Take 10 Arvos */
  .programme-take10-arvos {
    background: url("/img/programmes/take10-arvos.jpg") center/cover;
  }

  .programme-take10-arvos:hover {
    background: url("/img/programmes/take10-arvos-hover.jpg") right/cover;
  }

  /* Preload hover background image */
  .programme-take10-arvos::before {
    position: fixed;
    opacity: 0;
    z-index: -1;
    background: url("/img/programmes/take10-arvos-hover.jpg");
  }

  /* Gen Link */
  .programme-gen-link {
    background: url("/img/programmes/gen-link.webp") center/cover;
  }

  .programme-gen-link:hover {
    background: url("/img/programmes/gen-link-hover.jpg") right/cover;
  }

  /* Preload hover background image */
  .programme-gen-link::before {
    position: fixed;
    opacity: 0;
    z-index: -1;
    background: url("/img/programmes/gen-link-hover.jpg");
  }
</style>
