---
import { Image, getImage } from "astro:assets";

const images = import.meta.glob("../../assets/img/programmes/*");

const name = {
  dosomegood: "Do Some Good",
  take10: "Take 10",
  "take10-auckland": "Take 10 Auckland",
  "take10-arvos": "Take 10 Arvo's",
};

interface Props {
  programme: "dosomegood" | "take10" | "take10-auckland";
}

const { programme } = Astro.props;

// Generate card background images
const background = await getImage({
  src: images[
    `../../assets/img/programmes/${programme}.jpg`
  ]() as unknown as string,
  format: "webp",
  width: 600,
});

const backgroundHover = await getImage({
  src: images[
    `../../assets/img/programmes/${programme}-hover.jpg`
  ]() as unknown as string,
  format: "webp",
  width: 600,
});
---

<a
  href={`/${programme}/`}
  class="programme group flex flex-col rounded-3xl shadow-lg transition-all duration-500 hover:no-underline"
>
  <div class="relative min-h-[224px] lg:min-h-[284px]">
    <Image
      src={import(`../../assets/img/logo/${programme}.png`)}
      width="256"
      height="256"
      alt={`${name[programme]} logo`}
      class="absolute right-1/2 top-1/2 z-10 size-40 -translate-y-1/2 translate-x-1/2 self-center transition-all duration-500 group-hover:right-5 group-hover:top-5 group-hover:size-16 group-hover:translate-x-0 group-hover:translate-y-0"
      transition:name={`programme-image-${programme}`}
    />
  </div>
  <div
    class="z-10 grow bg-black/75 p-4 text-white underline-offset-0 transition duration-500 group-hover:opacity-0"
  >
    <slot />
  </div>
</a>

<style
  define:vars={{
    background: `url('${background.src}')`,
    backgroundHover: `url('${backgroundHover.src}')`,
  }}
>
  .programme {
    position: relative;
    overflow: hidden;
  }

  /* Base image */
  .programme::before,
  .programme::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition:
      opacity 0.5s ease,
      background-position 0.5s ease;
  }

  .programme::before {
    background-image: var(--background);
    opacity: 1;
  }

  /* Hover image */
  .programme::after {
    background-image: var(--backgroundHover);
    opacity: 0;
  }

  .programme:hover::after {
    opacity: 1;
    background-position: right;
  }

  .programme:hover::before {
    opacity: 0;
  }

  .programme:hover::after {
    background-position: right;
  }

  /* Preload hover background image */
  .programme::after {
    will-change: opacity;
  }
</style>
