---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article class="flex flex-col">
  <a
    href={`/news/${post.id}/`}
    rel="prefetch"
    class="group overflow-hidden rounded-3xl"
  >
    <Image
      src={post.data.image}
      width={325}
      alt={post.data.title}
      transition:name={`news-image-${post.id}`}
      class="mx-auto aspect-[4/3] w-full rounded-3xl object-cover shadow-lg sm:w-auto"
    />
  </a>

  <div class="mt-0 flex flex-1 flex-col text-center">
    <h2 class="mb-0 line-clamp-1 text-base font-semibold">
      <a href={`/news/${post.id}/`}>{post.data.title}</a>
    </h2>
    <h3 class="mt-auto text-sm">
      {
        new Date(post.data.date).toLocaleDateString("en-NZ", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </h3>
  </div>
</article>
