---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

import { Icon } from "astro-icon";

import Layout from "@/components/layouts/Layout.astro";
import TextBanner from "@/components/TextBanner.astro";

const page = await getEntry("pages", "donate");
---

<Layout title={page.data.title}>
  <TextBanner title={page.data.title} />

  <Image
    src={import("@/assets/img/home/donate.png")}
    width="77"
    height="77"
    alt="donate image"
    fetchpriority="high"
    loading="eager"
    class="mx-auto"
    transition:name="donate"
  />

  <section class="section-container flex flex-col">
    <div class="self-center">
      <p class="text-center font-extrabold">Your donation will go towards:</p>
      <ul class="space-y-2">
        <li>
          <Icon pack="tabler" name="bottle" class="h-6 w-6" />
          {page.data.items[0]}
        </li>
        <li>
          <Icon pack="lucide" name="person-standing" class="h-6 w-6" />
          {page.data.items[1]}
        </li>
        <li>
          <Icon pack="lucide" name="shirt" class="h-6 w-6" />
          {page.data.items[2]}
        </li>
        <li>
          <Icon name="blender" class="h-6 w-6" />
          {page.data.items[3]}
        </li>
        <li>
          <Icon pack="tabler" name="tools-kitchen-2" class="h-6 w-6" />
          {page.data.items[4]}
        </li>
        <li class="flex items-center gap-2">
          <Icon pack="tabler" name="plus" class="h-6 w-6" />
          {page.data.items[5]}
        </li>
      </ul>
    </div>
    <p class="text-center">
      Together we can help improve the well-being of the most vulnerable people
      in our community.
    </p>
  </section>

  <section class="section-container">
    <div
      class="flex h-[574px] animate-show justify-center opacity-0"
      transition:animate="none"
    >
      <iframe
        title="Donorbox"
        name="donorbox"
        src="https://donorbox.org/embed/vulnerable-support-charitable-trust"
        loading="lazy"
        class="shadow-border h-auto w-[400px] rounded-md transition hover:translate-y-1"
      ></iframe>
    </div>
  </section>
</Layout>

<style>
  li {
    @apply flex items-center gap-2;
  }
</style>
