---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

import { Icon } from "astro-icon/components";

import Layout from "@/components/layouts/Layout.astro";
import TextBanner from "@/components/TextBanner.astro";

const page = await getEntry("pages", "donate");
const { Content } = await page.render();

const formattedTopContent = page.data.topContent
  .split("\n")
  .map((p: string) => `<p>${p}</p>`)
  .join("");
---

<Layout title={page.data.title}>
  <TextBanner title={page.data.title} />

  <Image
    src={import("@/assets/img/home/donate.png")}
    width="77"
    height="77"
    alt="donate image"
    fetchpriority="high"
    loading="eager"
    class="mx-auto"
    transition:name="donate"
  />

  <section class="section-container flex flex-col gap-6">
    <div><Fragment set:html={formattedTopContent} /></div>

    <div class="self-center">
      <p class="bold-underline font-extrabold">
        Your donation will go towards:
      </p>
      <ul class="ml-0 space-y-2">
        <li>
          <Icon name="tabler:bottle" class="size-6" />
          {page.data.items[0]}
        </li>
        <li>
          <Icon name="lucide:person-standing" class="size-6" />
          {page.data.items[1]}
        </li>
        <li>
          <Icon name="lucide:shirt" class="size-6" />
          {page.data.items[2]}
        </li>
        <li>
          <Icon name="tabler:blender" class="size-6" />
          {page.data.items[3]}
        </li>
        <li>
          <Icon name="tabler:tools-kitchen-2" class="size-6" />
          {page.data.items[4]}
        </li>
      </ul>
    </div>

    <Content />

    <div class="self-center" transition:animate="none">
      <iframe
        title="Donorbox"
        name="donorbox"
        src="https://donorbox.org/embed/vulnerable-support-charitable-trust"
        loading="lazy"
        class="shadow-border h-[620px] w-[300px] rounded-md sm:h-[600px] sm:w-[400px]"
      ></iframe>
    </div>
  </section>
</Layout>

<style>
  li {
    @apply flex items-center gap-2;
  }

  .bold-underline {
    text-decoration: underline 2px;
    text-underline-offset: 3px;
  }
</style>
