---
import { getCollection, getEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Layout from "@/components/layouts/Layout.astro";
import Banner from "@/components/Banner.astro";

import { Collapsible } from "@/components/Collapsible";
import School from "@/components/pages/dosomegood/School.astro";
import Gallery from "@/components/programmes/Gallery.astro";
import { SmallSlider } from "@/components/slider/SmallSlider";
import poster from "@/assets/img/dosomegood/poster.png";

const images = await getCollection("dosomegoodImages");
const sponsors = await getCollection("dosomegoodSponsors");
const supporters = await getCollection("dosomegoodSupporters");
const schools = (await getCollection("dosomegoodSchools")).sort(
  (a, b) => b.data.order! - a.data.order!,
);

const page = await getEntry("pages", "dosomegood");
const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <Banner title={page.data.title} programme="dosomegood" />

  <section class="section-container space-y-6">
    <div class="grid gap-6 sm:grid-cols-2">
      <div class="place-self-center">
        <Image
          src={import("@/assets/img/logo/dosomegood_lg.png")}
          width="256"
          height="256"
          alt="Do Some Good logo"
          fetchpriority="high"
          loading="eager"
          class="mx-auto mb-6"
          transition:name="programme-image-dosomegood"
        />
        <ul class="awards space-y-2">
          {
            page.data.awards.map((award: string) => (
              <li>
                <Icon name="lucide:award" class="h-6 w-6" />
                {award}
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <Content />
      </div>
    </div>
  </section>

  <section class="section-container">
    <video
      poster={poster.src}
      preload="none"
      controls
      muted
      class="shadow-border mx-auto w-full max-w-2xl rounded-md bg-black"
    >
      <source src="/dosomegood/video.webm" type="video/webm" />
      <source src="/dosomegood/video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </section>

  <section class="section-container text-center">
    <h2>Want to help?</h2>
    <div class="grid gap-6 sm:grid-cols-2 lg:gap-10">
      <div class="flex flex-col">
        <p>
          {page.data.sponsorASchoolDescription}
        </p>

        <div class="mt-auto">
          <a
            href="/sponsor-a-school/"
            class="shadow-button self-center bg-red-600"
            rel="prefetch">Sponsor a School</a
          >
        </div>
      </div>
      <div class="flex flex-col">
        <p>
          {page.data.volunteerDescription}
        </p>

        <div class="mt-auto">
          <a
            href="/volunteer/"
            class="shadow-button self-center bg-red-600"
            rel="prefetch">Volunteer</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section-container">
    <h2>Our Schools</h2>
    <Collapsible client:visible>
      <div
        class="mb-6 grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
      >
        {schools.map((school) => <School school={school} />)}
      </div>
    </Collapsible>
  </section>

  <section class="section-container">
    <div class="grid gap-20 lg:grid-cols-2">
      <div>
        <h2>Sponsors</h2>

        <SmallSlider client:visible>
          <div class="blaze-track flex items-center justify-center">
            {
              sponsors.map(({ data }) =>
                data.website ? (
                  <a
                    href={data.website}
                    target="_blank"
                    rel="noopener nofollow noreferrer"
                  >
                    <Image
                      src={data.image}
                      height="64"
                      alt={data.name}
                      loading="eager"
                      class="mx-auto"
                    />
                  </a>
                ) : (
                  <div>
                    <Image
                      src={data.image}
                      height="64"
                      alt={data.name}
                      loading="eager"
                      class="mx-auto"
                    />
                  </div>
                ),
              )
            }
          </div>
        </SmallSlider>
      </div>
      <div>
        <h2>Supporters</h2>

        <SmallSlider client:visible>
          <div class="blaze-track flex items-center justify-center">
            {
              supporters.map(({ data }) =>
                data.website ? (
                  <a
                    href={data.website}
                    target="_blank"
                    rel="noopener nofollow noreferrer"
                  >
                    <Image
                      src={data.image as ImageMetadata}
                      height="64"
                      alt={data.name!}
                      loading="eager"
                      class="mx-auto"
                    />
                  </a>
                ) : (
                  <div>
                    <Image
                      src={data.image as ImageMetadata}
                      height="64"
                      alt={data.name!}
                      loading="eager"
                      class="mx-auto"
                    />
                  </div>
                ),
              )
            }
          </div>
        </SmallSlider>
      </div>
    </div>
  </section>

  <Gallery images={images} />
</Layout>

<style>
  .awards li {
    @apply flex items-center gap-2;
  }
</style>
