---
import type { GetImageResult, ImageMetadata } from "astro";
import { getCollection, getEntry, render } from "astro:content";
import { Image, getImage } from "astro:assets";

import { Icon } from "astro-icon/components";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";
import FullSection from "@/components/layouts/full-section.astro";
import H2 from "@/components/headings/h2.astro";
import AnchorButton from "@/components/layouts/anchor-button.astro";

import Banner from "@/components/Banner.astro";
import { SchoolsTable } from "@/components/pages/dosomegood/schools-table";
import poster from "@/assets/img/dosomegood/poster.png";
import Marquee from "@/components/ui/marquee";
import { Gallery } from "@/components/Gallery";

const sponsors = await getCollection("dosomegoodSponsors");
const supporters = await getCollection("dosomegoodSupporters");
const schools = (await getCollection("dosomegoodSchools")).sort(
  (a, b) => b.data.order! - a.data.order!,
);

const entry = await getEntry("pages", "dosomegood");
if (!entry) throw new Error("Could not find page");

const { Content } = await render(entry);

// Generate thumbnails
const images = await getCollection("dosomegoodImages");
const importedImages = import.meta.glob("../content/dosomegoodImages/*");

const thumbnails: { [key: string]: GetImageResult } = {};

for await (const image of images) {
  thumbnails[image.id] = await getImage({
    src: importedImages[
      `../content/dosomegoodImages/${image.id}.jpg`
    ]() as unknown as string,
    format: "webp",
    width: 500,
  });
}
---

<Layout title={entry.data.title}>
  <Banner title={entry.data.title} programme="dosomegood" />

  <Section>
    <Image
      src={import("@/assets/img/logo/dosomegood_lg.png")}
      width="256"
      height="256"
      alt="Do Some Good logo"
      fetchpriority="high"
      loading="eager"
      class="mx-auto mb-6"
      transition:name="programme-image-dosomegood"
    />
  </Section>

  <Section>
    <Gallery imageData={images} thumbnails={thumbnails} client:visible />
  </Section>

  <Section>
    <Content />
  </Section>

  <Section>
    <video
      poster={poster.src}
      preload="none"
      controls
      muted
      class="mx-auto w-full max-w-2xl rounded-3xl shadow-lg"
    >
      <source src="/dosomegood/video.webm" type="video/webm" />
      <source src="/dosomegood/video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </Section>

  <Section>
    <H2>Want to help?</H2>
    <div class="grid gap-6 lg:grid-cols-2 lg:gap-12">
      <div class="flex flex-col">
        <p>
          {entry.data.sponsorASchoolDescription}
        </p>

        <div class="mx-auto mt-auto">
          <AnchorButton
            href="/sponsor-a-school/"
            class="bg-red-600"
            rel="prefetch">Sponsor a school</AnchorButton
          >
        </div>
      </div>
      <div class="flex flex-col">
        <p>
          {entry.data.volunteerDescription}
        </p>

        <div class="mx-auto mt-auto">
          <AnchorButton href="/volunteer/" class="bg-red-600" rel="prefetch"
            >Volunteer</AnchorButton
          >
        </div>
      </div>
    </div>
  </Section>

  <!--<Section>
    <H2>Our {schools.length} Schools</H2>

    <SchoolsTable schools={schools} />
  </Section>-->

  <FullSection>
    <H2>Sponsors</H2>

    <Marquee
      pauseOnHover
      className="gap-10 [--duration:30s] [--gap:4rem]"
      client:visible
    >
      {
        sponsors.map(({ data: sponsor }) =>
          sponsor.website ? (
            <a
              href={sponsor.website}
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <Image
                src={sponsor.image as ImageMetadata}
                height="64"
                alt={sponsor.name!}
                loading="eager"
                class="mx-auto"
              />
            </a>
          ) : (
            <div>
              <Image
                src={sponsor.image as ImageMetadata}
                height="64"
                alt={sponsor.name!}
                loading="eager"
                class="mx-auto"
              />
            </div>
          ),
        )
      }
    </Marquee>
  </FullSection>

  <FullSection>
    <H2>Supporters</H2>

    <Marquee
      reverse
      pauseOnHover
      className="gap-10 [--duration:25s] [--gap:4rem]"
      client:visible
    >
      {
        supporters.map(({ data }) =>
          data.website ? (
            <a
              href={data.website}
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <Image
                src={data.image as ImageMetadata}
                height="64"
                alt={data.name!}
                loading="eager"
                class="mx-auto"
              />
            </a>
          ) : (
            <div>
              <Image
                src={data.image as ImageMetadata}
                height="64"
                alt={data.name!}
                loading="eager"
                class="mx-auto"
              />
            </div>
          ),
        )
      }
    </Marquee>
  </FullSection>
</Layout>
