---
import { getCollection, getEntry } from "astro:content";
import type { GetImageResult, ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";
import { Icon } from "astro-icon/components";

import Layout from "@/components/layouts/Layout.astro";
import Banner from "@/components/Banner.astro";
import { SchoolsTable } from "@/components/pages/dosomegood/schools-table";
import poster from "@/assets/img/dosomegood/poster.png";
import Marquee from "@/components/ui/marquee";
import { Gallery } from "@/components/Gallery";

const sponsors = await getCollection("dosomegoodSponsors");
const supporters = await getCollection("dosomegoodSupporters");
const schools = (await getCollection("dosomegoodSchools")).sort(
  (a, b) => b.data.order! - a.data.order!,
);

const page = await getEntry("pages", "dosomegood");
const { Content } = await page.render();

// Generate thumbnails
const images = await getCollection("dosomegoodImages");
const importedImages = import.meta.glob("../content/dosomegoodImages/*");

const thumbnails: { [key: string]: GetImageResult } = {};

for await (const image of images) {
  thumbnails[image.id] = await getImage({
    src: importedImages[
      `../content/dosomegoodImages/${image.slug}.jpg`
    ]() as unknown as string,
    format: "webp",
    width: 500,
  });
}
---

<Layout title={page.data.title}>
  <Banner title={page.data.title} programme="dosomegood" />

  <section class="section-container space-y-6">
    <div class="grid gap-6 sm:grid-cols-2">
      <div class="place-self-center">
        <Image
          src={import("@/assets/img/logo/dosomegood_lg.png")}
          width="256"
          height="256"
          alt="Do Some Good logo"
          fetchpriority="high"
          loading="eager"
          class="mx-auto mb-6"
          transition:name="programme-image-dosomegood"
        />
        <ul class="awards space-y-2">
          {
            page.data.awards.map((award: string) => (
              <li>
                <Icon name="lucide:award" class="h-6 w-6" />
                {award}
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <Content />
      </div>
    </div>
  </section>

  <section class="section-container">
    <video
      poster={poster.src}
      preload="none"
      controls
      muted
      class="shadow-border mx-auto w-full max-w-2xl rounded-md bg-black"
    >
      <source src="/dosomegood/video.webm" type="video/webm" />
      <source src="/dosomegood/video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </section>

  <section class="section-container text-center">
    <h2>Want to help?</h2>
    <div class="grid gap-6 sm:grid-cols-2 lg:gap-10">
      <div class="flex flex-col">
        <p>
          {page.data.sponsorASchoolDescription}
        </p>

        <div class="mt-auto">
          <a
            href="/sponsor-a-school/"
            class="shadow-button self-center bg-red-600"
            rel="prefetch">Sponsor a School</a
          >
        </div>
      </div>
      <div class="flex flex-col">
        <p>
          {page.data.volunteerDescription}
        </p>

        <div class="mt-auto">
          <a
            href="/volunteer/"
            class="shadow-button self-center bg-red-600"
            rel="prefetch">Volunteer</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section-container">
    <h2>Our Schools</h2>

    <SchoolsTable schools={schools} />
  </section>

  <section class="section-full-container">
    <h2>Sponsors</h2>

    <Marquee
      pauseOnHover
      className="gap-10 [--duration:30s] [--gap:4rem]"
      client:visible
    >
      {
        sponsors.map(({ data: sponsor }) =>
          sponsor.website ? (
            <a
              href={sponsor.website}
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <Image
                src={sponsor.image as ImageMetadata}
                height="64"
                alt={sponsor.name!}
                loading="eager"
                class="mx-auto"
              />
            </a>
          ) : (
            <div>
              <Image
                src={sponsor.image as ImageMetadata}
                height="64"
                alt={sponsor.name!}
                loading="eager"
                class="mx-auto"
              />
            </div>
          ),
        )
      }
    </Marquee>
  </section>

  <section class="section-full-container">
    <h2>Supporters</h2>

    <Marquee
      reverse
      pauseOnHover
      className="gap-10 [--duration:20s] [--gap:4rem]"
      client:visible
    >
      {
        supporters.map(({ data }) =>
          data.website ? (
            <a
              href={data.website}
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <Image
                src={data.image as ImageMetadata}
                height="64"
                alt={data.name!}
                loading="eager"
                class="mx-auto"
              />
            </a>
          ) : (
            <div>
              <Image
                src={data.image as ImageMetadata}
                height="64"
                alt={data.name!}
                loading="eager"
                class="mx-auto"
              />
            </div>
          ),
        )
      }
    </Marquee>
  </section>

  <section class="section-container">
    <Gallery imageData={images} thumbnails={thumbnails} client:visible />
  </section>
</Layout>

<style>
  .awards li {
    @apply flex items-center gap-2;
  }
</style>
