---
import { getCollection, getEntry, render } from "astro:content";
import type { GetImageResult, ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";
import FullSection from "@/components/layouts/full-section.astro";
import H2 from "@/components/headings/h2.astro";

import Banner from "@/components/Banner.astro";
import Marquee from "@/components/ui/marquee";
import { Gallery } from "@/components/Gallery";

const sponsors = await getCollection("take10arvosSponsors");

const entry = await getEntry("pages", "take10-arvos");
if (!entry) throw new Error("Could not find page");

const { Content } = await render(entry);

// Generate thumbnails
const images = await getCollection("take10arvosImages");
const importedImages = import.meta.glob("../content/take10arvosImages/*");

const thumbnails: { [key: string]: GetImageResult } = {};

for await (const image of images) {
  thumbnails[image.id] = await getImage({
    src: importedImages[
      `../content/take10arvosImages/${image.id}.jpg`
    ]() as unknown as string,
    format: "webp",
    width: 500,
  });
}
---

<Layout title={entry.data.title}>
  <Banner title={entry.data.title} programme="take10-arvos" />

  <Section class="space-y-6">
    <div class="grid gap-6 sm:grid-cols-2">
      <Image
        src={import("@/assets/img/logo/take10-arvos.png")}
        width="256"
        height="256"
        alt="Take 10 Arvo's logo"
        fetchpriority="high"
        loading="eager"
        class="place-self-center"
        transition:name="programme-image-take10-arvos"
      />
      <div>
        <Content />
      </div>
    </div>
  </Section>

  <FullSection>
    <H2>Sponsors</H2>

    <Marquee
      pauseOnHover
      className="gap-10 [--duration:45s] [--gap:4rem]"
      client:visible
    >
      {
        sponsors.map(({ data: sponsor }) =>
          sponsor.website ? (
            <a
              href={sponsor.website}
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <Image
                src={sponsor.image as ImageMetadata}
                height="64"
                alt={sponsor.name!}
                loading="eager"
                class="mx-auto"
              />
            </a>
          ) : (
            <div>
              <Image
                src={sponsor.image as ImageMetadata}
                height="64"
                alt={sponsor.name!}
                loading="eager"
                class="mx-auto"
              />
            </div>
          ),
        )
      }
    </Marquee>
  </FullSection>

  <Section>
    <Gallery imageData={images} thumbnails={thumbnails} client:visible />
  </Section>
</Layout>
