---
import { getCollection, getEntry, render } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/components/layouts/Layout.astro";
import H2 from "@/components/headings/h2.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts", ({ data }) => data.published);

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post);

const author = await getEntry(post.data.author);
---

<Layout title={post.data.title}>
  <article class="mx-auto space-y-10 px-5 py-8 lg:container">
    <div class="grid gap-6 md:grid-cols-2 md:gap-10">
      <Image
        src={post.data.image}
        width="700"
        height="700"
        alt={post.data.title}
        class="max-h-96 w-full rounded-3xl object-cover shadow-lg"
        transition:name={`news-image-${post.id}`}
      />
      <div>
        <H2 class="text-left">
          {post.data.title}
        </H2>
        <div class="mt-auto flex space-x-3">
          <Image
            src={author.data.image}
            width="96"
            height="96"
            alt={author.data.name}
            class="h-[56px] w-[56px] rounded-full"
          />

          <div class="flex flex-col self-center">
            <span>
              {author.data.name}
            </span>
            <span>
              {
                new Date(post.data.date).toLocaleDateString("en-NZ", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }</span
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="[&_img]:mx-auto [&_img]:mb-4 [&_img]:mt-6 [&_img]:max-w-2xl [&_img]:rounded-md"
    >
      <Content />
    </div>
  </article>
</Layout>
